@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sahitya&display=swaprel=stylesheet);
:root{
    --primary-color:#011627 ;
    --accent1-color:#2EC4B6 ;
    --accent2-color:#f6f7f8 ;

    --heading-foot: Playfair Display, serif;
    --paragraph-font: Sahitya, serif;

    --nav-background-color:#2EC4B6;
    --nav-link-color:#FF3366;
    --nav-hover-link-color:#011627;
    --nav-hover-background-color:#f6f7f8;
}
label{
  text-align: left;
  padding-right: 1rem;
}
input,select,option,textarea{
  padding: 0.5rem;
  font-size: 1.1rem;
}
input[type="checkbox"]{
  width: 22px;
  height: 22px;
  vertical-align: bottom;
}
button{
  border: none;
  border-radius: .5rem;
  color: navy;
  font-size: 0.5rem;
}
.navigation {
	display: flex;
	list-style: none;
    width: 60%;
}
.map{
    top: 10000px;
    position: static;
}
.title h1{
    text-align: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.col img{
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.col{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 0px solid #000;
}
.call-to-action {
  text-align: center;
  padding: 50px;
}

.col h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.three{
    width: 50%;
}

.col p {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: left;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: #011627;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ccc;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}



tbody tr:hover {
    background-color: #ddd;
}
.row:nth-child(1){
    flex-direction: row;
}
.col:nth-child(1){
    display: flex;
    flex-direction: column;
}
.col:nth-child(1) .row{
    flex: 1;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0px;
}
.box{
    margin: 1rem;
    background-color: #ACC8E5;
    color: #112A46;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
}
.title{
    text-align: center;
}

.title h1{
    position: relative;
    text-align: left;
}
.navigation li {
	flex: 1 1 100%;
}
.trip{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 200px;
}
.navigation a {
	display: block;
    background-color: var(--nav-background-color);
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.logo img {
	width: 120px;
	height: auto;
    float: right;
}
main .hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


main article {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1aa6ad73;
    padding: 30px;
    width: 80%;
    border-radius: 20px;
}

main .history {
    padding: 20px;
    width: 80%;
}

main .history div {
    display: flex;
}

main .history p {
    padding: 10px;
    font-weight: bold;
    font-size: 1.4em;
    font-style: italic;
    width: 100%;
    display: flex;
    text-align: center;
}

main .history h1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-family: var(--secondary-color);
    color:var(--primary-color);
}

main .history img {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: var(--secondary-color);
    color:var(--primary-color);
    position:absolute;
    text-align: center;
}
header{
    background-color: var(--accent1-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 10000px;
}
p{
    padding: 0px;
    position: absolute;
    text-align: center;
}
header nav{

    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.history{
    width: 100em;
    background-color: #ffff;
    color: #333;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.history img{
    max-width: 20%;
}

.adventure{
    display: flex;
}
.adventure h2{
    display:none
}
h2{
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    font-weight: bold;
}

footer .sociallinks img {
    height: 30px;
    width: auto;
}
.sociallinks img{
    float: right;
    border: 0;
}
.grid-container {
    display: flex;
    /* Dos columnas de igual tamaño */
    gap: 1px; /* Espacio entre las imágenes */
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.item {
    width: 30%;
    height: auto; /* Borde para cada imagen */
}

.grid-container img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #ffffff; /* Permite que las imágenes mantengan su proporción de aspecto */
}
body {
    margin: 0;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ccc;
    padding: 0;
}
.containergrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100vh;
}
/* 
Azul Marino: #001f3f
Azul Claro: #5bc0de
Verde Esmeralda: #2ecc71
Amarillo: #f0ad4e
Naranja: #ff7f0e */
.part {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.part1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url(../images/hero-2.jpg);
}

.part2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #5bc0de;
}
.part2 img{
    position: relative;
}

.part3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #2ecc71;
}

.part4 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  background-color: #f0ad4e;
}

.part5 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  background-color: #ff7f0e ;
}

.trip{
    background-color: #112A46;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    margin: 1rem;
    padding: 20px;
}

.call-to-action{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../images/history.jpg);
    border-width: 1px;
}
.tab{
    background-image: url(../images/found.jpg);
}
