@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sahitya&display=swaprel=stylesheet);
:root{
    --primary-color:#011627 ;
    --accent1-color:#2EC4B6 ;
    --accent2-color:#f6f7f8 ;

    --heading-foot: Playfair Display, serif;
    --paragraph-font: Sahitya, serif;

    --nav-background-color:#2EC4B6;
    --nav-link-color:#FF3366;
    --nav-hover-link-color:#011627;
    --nav-hover-background-color:#f6f7f8;
}
.navigation {
	display: flex;
	list-style: none;
    width: 60%;
}
.map{
    top: 10000px;
    position: static;
}
.title h1{
    text-align: center;
}
.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.col img{
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.col{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 0px solid #000;
}
.call-to-action {
  text-align: center;
  padding: 50px;
}

.col h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.three{
    width: 50%;
}

.col p {
  font-size: 1em;
  margin-bottom: 20px;
  text-align: left;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
.row:nth-child(1){
    flex-direction: row;
}
.col:nth-child(1){
    display: flex;
    flex-direction: column;
}
.col:nth-child(1) .row{
    flex: 1;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:0px;
}
.box{
    margin: 1rem;
    background-color: #ACC8E5;
    color: #112A46;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
}
.title{
    text-align: center;
}

.title h1{
    position: relative;
    text-align: left;
}
.navigation li {
	flex: 1 1 100%;
}
.trip{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 200px;
}
.navigation a {
	display: block;
    background-color: var(--nav-background-color);
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

.logo img {
	width: 120px;
	height: auto;
    float: right;
}
.hero{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero img{
    position: relative;
    width: 50em;
    height: auto;
}
article{
    position:absolute;
}
article img{
    width: 20em;
    height: auto; 
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #ffffff;
    float:right;
    position: absolute;
}
h1{
    font-family: var(--secondary-color);
    color:var(--primary-color);
    position:absolute;
    text-align: center;
}
header{
    background-color: var(--accent1-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 10000px;
}
p{
    padding: 0px;
    position: absolute;
    text-align: center;
}
header nav{

    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.history{
    width: 100em;
    background-color: #ffff;
    color: #333;
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.history img{
    max-width: 20%;
}

.adventure{
    display: flex;
}
.adventure h2{
    display:none
}
h2{
    text-align: center;
}
footer{
    padding: 1rem; 
    margin:0 auto;
    border-top: 1px solid #000;
    text-align: center;
}
footer nav {
    margin-top: 1px;
    float: right;
}
.grid-container {
    display: flex;
    /* Dos columnas de igual tamaño */
    gap: 1px; /* Espacio entre las imágenes */
}
.item {
    width: 30%;
    height: auto; /* Borde para cada imagen */
}

.grid-container img {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #ffffff; /* Permite que las imágenes mantengan su proporción de aspecto */
}

