@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sahitya&display=swaprel=stylesheet);
html{
    background-color: aqua;
}
:root{
    --primary-color:#011627 ;
    --secondary-color:#FF3366 ;
    --accent1-color:#2EC4B6 ;
    --accent2-color:#f6f7f8 ;

    --heading-foot: Playfair Display, serif;
    --paragraph-font: Sahitya, serif;

    --nav-background-color:#2EC4B6;
    --nav-link-color:#FF3366;
    --nav-hover-link-color:#011627;
    --nav-hover-background-color:#f6f7f8;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px; ;
    padding:20px ;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-foot);
    color:var(--primary-color)
}
header{
    padding: 20px;
    background-color: var(--accent1-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display:block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color)
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
